.container {
  padding: 0 5em;
}
.cardContainer {
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 1em;
  flex-wrap: wrap;
}
.title {
  color: white;
  font-size: 2em;
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 2em;
}
.title::after {
  content: "";
  width: 5%;
  background-color: #f00;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
@media (max-width: 600px) {
  .title {
    margin-top: 0;
    margin-bottom: 1em;
  }
  .container {
    padding: 0;
    width: 100%;
    overflow: hidden;
  }
  .cardContainer {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 1em;
  }
}
