.nav,
.contactnav {
  height: 40px;
  color: white;
  background: black;
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.contactnav {
  justify-content: flex-start;
}
.navitem {
  margin-left: 4em;
}
.home {
  justify-self: flex-start;
}
.icon {
  color: white;
}
@media (max-width: 600px) {
  .nav {
    justify-content: space-between;
    font-size: 0.9em;
  }
  .navitem{
    margin-left:1em;
  }
}
